.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
.g-container{
    width: 100%;
    padding: 0px 10px;
}
@media (min-width: 544px) and (max-width: 767px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 991px) {
  .visible-lg-block {
    display: block !important;
  }
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}
.card-header{
    padding: 6px;
    background-color: transparent;
    
}
h5.card-title{
    margin-bottom: 0px;
    text-align: center;
}
.card figure{
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    position: relative;
}
.card{
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
}
.card-block {
    padding: 12px 12px 5px 12px;
}
.card-block>h5>a{
    font-size: 1.2rem;
}
.card-footer {
    background-color: transparent;
    padding: 0rem .8rem;
}
.card-footer .card-text{
    margin-bottom: 5px;
}
figure .p-new a {
    position: absolute;
    top: 10px;
    right: 0;
    padding:8px 13px;
    line-height: 1;
    font-size:13px;
    text-transform: uppercase;
    border-radius: 2px 0 0 2px;
    background: #f57c00;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
}

*{ margin:0; padding:0;}
*, *:after, *:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}
.content-tabs{
	float: left;
	padding-left: 3px;
	overflow: hidden;
	display: visible;
}
header .md-tabs .nav-item.open .nav-link,header .md-tabs .nav-item.open .nav-link:focus,header .md-tabs .nav-item.open .nav-link:hover,header .md-tabs .nav-link.active,header .md-tabs .nav-link.active:focus,header .md-tabs .nav-link.active:hover{
    background-color: #1b8bf9;
    color: #fff;
	font-weight: 600;
}
header .md-tabs a.nav-link{
    color: #fff;
}
header .md-tabs .nav-item a{
    padding: 5px 0px 9px 0px !important;
    font-size: .85em;
}
header .nav-tabs .slide{
    background: rgba(255,255,255,.6);
    height: 4px;
    position: absolute;
    -webkit-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
    bottom: 0;
}
header .nav-tabs {
    border-bottom: 0px solid rgba(0,0,0,.12);
    margin-bottom: 0px;
}
header .md-tabs .nav-item{
    background-color: #1b8bf9;
    width: 128px;
    text-align: center;
}
header li.nav-item .slide{
    width: 128px;
}
@media (max-width: 991px) {
    .hidden-md{
        display: none;
    }
    header .md-tabs .nav-item a.nav-link span{
        display: none;
        width: 0px;
    }
    header .md-tabs .nav-item{
        width: 50px;
        text-align: center;
    }
    header li.nav-item .slide{
        width: 50px;
    }
}
.media-body span.block{
    font-size: .85rem;
}
div#search{
    border-bottom: solid 1px rgba(0,0,0,.1);
    padding: 0px 0px 0px 45px;
    width: 100%;
    margin-top: 34px;
    background: #fbfcfd;
    overflow: initial;
    box-shadow: 0 1px 0.5px rgba(0,0,0,0.175);
    position: fixed;
    z-index: 2;
    height: 33.5px;
}
div#search table{
    width: 100%;
    height: 100%;
}
div#search table tr td,div#search_2 table tr td{
    padding-left: 1px;
    padding-right: 1px;
    text-align: right;
    vertical-align: middle;
}

div#search table tr td a[data-toggle="dropdown"]{
    color: #1b8bf9;
    padding-right: 8.5px;
}
div#search table tr td div.input-group{
    padding-bottom: 0px;
}
div#search table tr td form,div#search table tr td select{
    margin-top: 1px;
}
div#search table td .input-group .input-group-addon,table td form.search-mobile .input-group .input-group-addon{
    display: none;
}
div#search table td .input-group .form-control,table td form.search-mobile .input-group .form-control{
    margin-left: 0px;
    border-bottom-right-radius:.2rem;
    border-top-right-radius:.2rem;
}
div#contenido{
    margin-left: 41px;
    padding-top: 74px;
    height: 100%;
    z-index: 820;
    background: #fff;
    z-index: 1;
    position: relative;
    margin-bottom: 150px;
}
div#contenido .label-md{
    padding: 2px 7px;
}
div#contenido div#preload-content{
    position: absolute;
}
div#preload{
    background-color: rgba(255,255,255,.7);
    position: fixed;
    z-index: 1060;
    text-align: center;
    padding-top: 25%;
    font-size: 1.5rem;
    color: #8b8b8b;
}
div#contenido .form-control{
    z-index: 0;
}
div#preload i{
    -webkit-animation: rotate 1.7s infinite linear;
    animation: rotate 1.7s infinite linear;
}
@-webkit-keyframes rotate {
    0%  {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
    
}@keyframes rotate {
    0%  {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);} 
}
@media (max-width: 767px) {
    div#contenido{
        margin-left: 0px;
    }
    div#search{
        padding: 2px 0px 2px 0px;
    }
    div.list-group-item{
        padding: 0rem .75rem .75rem .6rem !important;
    }
    div#search table td .input-group .input-group-addon,table td form.search-mobile .input-group .input-group-addon{
        display: table-cell;
        padding-left: .45rem;
        padding-right: .55rem;
        border: 0px;
    }
    div#search table td .input-group .form-control,table td form.search-mobile .input-group .form-control{
        border-radius: 0px;
        border: 0px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    div#search table tr td form,div#search table tr td select{
        margin-top: 2.45px;
    }
}
/*responsive*/
/*manejo de tablas*/
.hidden-sm,.hidden-md{
    display: visible;
}
.visible-sm{
    display: none !important;
}
.visible-sm-thead{
    display: none !important;
}
.visible-md{
    display: none !important;
}
.g-thumbnail,div.g-img{
    width: 60px;
}
.g-thumbnail-modal,div.g-img-modal,span.g-img-modal{
    width: 55px; 
}
.img-thumbnail-30{
    width: 30px;
}
.img-thumbnail-35{
    width: 35px;
}
.img-thumbnail-40{
    width: 40px;
}
.img-thumbnail-45{
    width: 45px;
}
.img-thumbnail-50{
    width: 50px;
}
.img-thumbnail-60{
    width: 60px;
}
/*.g-img-thumbnail{
    padding:2px;
    background-color:#fff;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: -ms-zoom-in;
    cursor: zoom-in;
}*/
.img-thumbnail.thumbnail-2,textarea.atributo-2{
    border: 1px solid #868484;
}
.img-thumbnail.thumbnail-3,textarea.atributo-3{
    border: 1px solid #676060;
}
.img-thumbnail.child{ opacity: .65; }
.img-thumbnail.child:hover{ opacity: 1; }
table tr td.g-thumbnail-modal{
    position: relative;
}
.celda-sm-6{ width: 6%; }
.celda-sm-10{ width: 10%; }
.celda-sm-15{ width: 15%; }
.celda-sm-20{ width: 20%; }
.celda-sm-25{ width: 25%; }
.celda-sm-15{ width: 15%; }
.celda-sm-30{ width: 30%; }
.celda-sm-40{ width: 40%; }
.celda-sm-50{ width: 50%; }
.celda-sm-60{ width: 60%; }
.celda-sm-70{ width: 70%; }
.celda-sm-80{ width: 80%; }
.celda-sm-90{ width: 90%; }
.sm-cel{ visibility: hidden;}
@media(max-width: 768px){
    .hidden-sm,.tabla .celda-sm,ul .g-btn-sm{
        display: none !important;
    }
    .visible-sm{
        display: inline-block !important;
    }
    .visible-sm-thead{
        display: table-header-group !important;
    }
    .tabla .btn-group >a.btn.g-btn-sm{      
        background:red;
        font-size: 0em;
        width: 0px;
        padding: 0px;
        border: 0px;
        margin: 0;
    }
    .celda-sm-6{ width: 20%; }
    .celda-sm-10,.celda-sm-15{ width: 27%; }
    .celda-sm-80,.celda-sm-70,.celda-sm-60,.celda-sm-50,.celda-sm-40,.celda-sm-30,.celda-sm-20,.celda-sm-25{ width: 80%; }
    .g-thumbnail, div.g-img,.g-thumbnail-modal,div.g-img-modal,span.g-img-modal{
        width: 50px;
    }
.img-thumbnail-60{
    width: 55px;
}
    .sm-cel{ visibility: visible;}
    table.table tbody td{
        padding: 2px 4px 2px 4px;
    }
    .top-nav{
        padding-top: 2px;
    }
    li.dropdown-user{
        top: -1.8px;
    }
}
.table-responsive table.table thead th, table.table thead th, table.table tbody td,.table-responsive table.table tbody td,table.tabla th,table.tabla td{
    font-size: .9rem;
}
.g-table-responsive{
    position: relative;
}
#item{
    border: 1px solid rgba(0,0,0,.5);
    float: left;
    position: absolute;
    padding-left: 3px;
    padding-right: 3px;
    background: rgba(255,255,255,.75);
    font-weight: bold;
    z-index: 1;
    font-size: .85em;
}
.item{
    border: 1px solid rgba(0,0,0,.35);
    float: left;
    position: absolute;
    padding-left: 3px;
    padding-right: 3px;
    background: rgba(255,255,255,.75);
    font-weight: bold;
    z-index: 1;
    font-size: .85em;
}
.item.help > div > i{
    cursor: help;
}
.help{
    cursor: help;
}
.item-relative{
    position: relative;
}
.input-group-addon.input-sm{
    padding: 8px .5rem;
}
.input-group-addon.input-sm i{
   font-size: .9em;
}
.alert-loading{
    background-color: rgba(142,190,219,1);
    border: 1px solid rgba(142,190,219,.8);
    color: #234e6d;
}
.alert-default{
    background-color: rgba(249,249,249,1);
    border: 1px solid rgba(214,214,224,.8);
    color: rgb(45,45,45);
}
.alert-refresh{
    background: rgba(0, 0, 0, .75);
}
.alert-refresh .close{
    color: rgba(255, 255, 255, .3);
}
.alert{
    width: 30%;
    margin-left:70%; 
    float: right;
    position: fixed;
    z-index: 1100;
    font-size: .8em;
}
#alerta_sistema{
    bottom: 0px; max-height: 52px; z-index: 1700;
    cursor: move;
}
div.input-group{
    padding-bottom: 3px;
}
@media(max-width: 768px){
    .alert{
        width: 90%;
        margin-left: 10%;
    }
}
@media(max-width: 543px){
    div.input-group{
        padding-bottom: 0px;
    }
}
table.tabla{  
    display: table;
    width: 100%;
    border-collapse: collapse;
}
table.tabla-border-true{
    border-left: 1px solid rgba(0,0,0,.15);
    border-top: 1px solid rgba(0,0,0,.15);
}
table.tbl-bordered{
    border-left: 1px solid rgba(0,0,0,.15);
    border-top: 1px solid rgba(0,0,0,.15);
}
table.tabla-border-false{
    border:none;
}
table.tabla .fila{  
     display: table-row; 
}  
table.tabla .celda{  
    display: table-cell;
    vertical-align: top;
    padding: 5px;
    position: relative;
}

table.tabla-border-true .fila .celda{
    border-right: 1px solid rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.15);
}
table.tbl-bordered .fila .celda{
    border-right: 1px solid rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.15);
}
table.tabla-border-false .fila .celda{
    border:none;
}
    table.tbl-no-bordered{
        border-left: 0px;
        border-top: 0px;
    }
    table.tbl-no-bordered .fila .celda{
        border-right: 0px;
        border-bottom: 0px;
        vertical-align: top;
    }
table.tabla .th{
    font-weight: bold;  
    text-align: center;
    vertical-align: top;
}
table.table-hover-success tr.tr-no-active:hover{
    background-color: #dff0d8;
}
table.table-hover-success tr.tr-no-active:hover td.cursor-pointer{
    cursor: pointer;
}
td.celda.sub-table{
    padding: 0px;
}
td.celda.sub-table table{
    border: 0px;
}
td.sub-table table tr{
    border-bottom: 1px solid rgba(0,0,0,.15);
}
td.sub-table table tr:last-child{
    border-bottom: 0px solid;
}
td.sub-table table tr td{
    border-right: 1px solid rgba(0,0,0,.15);
    padding: 1px 5px;
}
td.sub-table table tr td:last-child{
    border-right: 0px solid;
}
        #area table.tabla thead tr.fila.title{
            display: none;
        }
.encabezado_pagina{
    display: none;
}
tr.row-total th{
    text-align: right;
}
/*-----ESTILO DE BOTONES-----*/
    /*---Botones Circulares---*/
    .btn-circle{
        border-radius: 100%;
        border: solid 2px white;
        cursor: pointer;
    }
    .btn-circle:active{
        box-shadow: 
      inset 0 2px 5px rgba(255,255,255,.0), inset 0 -2px 5px rgba(0,0,0,0), 
      inset 2px 0 5px rgba(0,0,0,.15), inset -2px 0 5px rgba(0,0,0,.15), 
      0 .2px .5px rgba(0,0,0,1);
    }
    .btn-circle-20{
        width: 20px;
        height: 20px;
        box-shadow: 
          inset 0 2px 2px rgba(255,255,255,.1), inset 0 -2px 2px rgba(0,0,0,.2), 
          inset 2px 0 6px rgba(255,255,255,.15), inset -2px 0 6px rgba(255,255,255,.15), 
          0px .1px 2.5px rgba(0,0,0,.65);
    }
    .btn-circle-25{
        width: 25px;
        height: 25px;
        box-shadow: 
          inset 0 2px 5px rgba(255,255,255,.1), inset 0 -2px 5px rgba(0,0,0,.4), 
          inset 2px 0 2px rgba(255,255,255,.15), inset -2px 0 2px rgba(255,255,255,.15), 
          0px .1px 3px rgba(0,0,0,.7);
    }
    .btn-circle-30{
        width: 30px;
        height: 30px;
        box-shadow: 
          inset 0 2px 5px rgba(255,255,255,.1), inset 0 -2px 6px rgba(0,0,0,.5), 
          inset 2px 0 2px rgba(255,255,255,.15), inset -2px 0 2px rgba(255,255,255,.10), 
          0px .1px 3.5px rgba(0,0,0,.75);
    }
    .btn-circle-default{ background: #d8dcde;}
    .btn-circle-red{ background: #E77070;}
    .btn-circle-info{ background: #70C1F3;}
    .btn-circle-success{ background: rgb(135, 195, 137);}
    .btn-circle-purple{ background: #B282F4;}
    .btn-circle-cyan{ background: #70D7E6;}
    .btn-circle-orange{ background: #FFA35E;}
    .btn-circle-yellow{ background: #FFE870;}
    .btn-circle-grey{ background:#858C8F;}
    .btn-circle-teal{ background: #70E09E;}
    .bg-yellow-darken{ background: #f7d22e !important;}
    
#modal_2{ z-index: 1051; }
#dialog_2{ z-index: 1051; }
#modal_3{ z-index: 1052; }
#dialog_3{ z-index: 1052; }
#modal_4{ z-index: 1053; }
#dialog_4{ z-index: 1053; }
#modal_5{ z-index: 1056; }
#dialog_5{ z-index: 1056; }
#modal_6{ z-index: 1057; }
#dialog_6{ z-index: 1057; }
#modal_7{ z-index: 1054; }
#dialog_7{ z-index: 1054; }
#modal_8{ z-index: 1055; }
#dialog_8{ z-index: 1055; }
#modal_2,#modal_3,#modal_4,#modal_5,#modal_6,#modal_visor,#modal_7,#modal_8{
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgba(0,0,0,.30);
    position: fixed;
    overflow: auto;
    display: none;
}
#modal_6{
    background: rgba(0,0,0,.81);
}
#content_1,#content_2,#content_3,#content_4,#content_5,#content_6,#content_7,#content_8,#content_11{
    position: relative;
}
#content_6{
    background: rgba(0,0,0,.55);
}

div#preload-modal,div#preload-2{
    width: 100%;
    text-align: center;
    color: #8b8b8b;
}
div#preload-modal{
    height: 100%;
    background-color: rgba(255,255,255,.35);
    position: fixed;
    z-index: 1060;
    padding-top: 9%;
    font-size: 1.5rem;
}
div#preload-2{
    font-size: 1.1rem;
}
div#preload-modal i,div#preload-2 i{
    -webkit-animation: rotate 1.7s infinite linear;
    animation: rotate 1.7s infinite linear;
}
/*---- ESTILO DE INPUTS ----*/
input.form-control.input-50{ min-width: 50px !important; }
input.input-60{ min-width: 60px; }
input.input-80,div.input-80{ min-width: 80px;}
input.input-100,div.input-100{ min-width: 100px;}
input.input-110,div.input-110{ min-width: 110px; }
input.input-120,div.input-120{ min-width: 120px; }
input.input-140,div.input-140,select.input-140{ min-width: 140px; }
input.input-150,div.input-150{ min-width: 150px; }
input.input-200,div.input-200{ min-width: 200px; }
input.input-220,div.input-220{ min-width: 220px; }
input.input-240,div.input-240{ min-width: 240px; }
input[type='datetime-local']{
    width: 185px;
}
input[type='datetime-local'].form-control-sm{
    height: 27px;
}
input[type='date'],.input-date{
    max-width: 100%;
    min-width: 150px;
}
input[type='month'].form-control.form-control-sm:not([size]):not([multiple]) {
    height: 1.688rem;
    padding: .15rem .75rem;
}
@media(max-width: 768px){
    input.input-100,div.input-100,input.input-80,div.input-80{ min-width: 75px; }
    input.input-120,div.input-120,input.input-110,div.input-110{ min-width: 100px; }
    input.input-140,div.input-140,select.input-140{ min-width: 110px; }
    input.input-150,div.input-150{ min-width: 110px; }
    input.input-200,div.input-200{ min-width: 140px; }
    input.input-220,div.input-220{ min-width: 170px; }
    input.input-240,div.input-240{ min-width: 185px; }
    input.input-50{ width: 45px; }
    input.form-control.input-60{ min-width: 55px !important; }
    input[type='datetime-local']{
        min-width: 170px;
    }
    input[type='date'],.input-date{
        min-width: 135px;
    }
    /*menu*/
    li.dropdown{
        padding-left: 0px;
        padding-right: 0px;
    }
    li.dropdown a.icon-circle{
        padding-left: 10px;
        padding-right: 7px;
    }
    input[type='month'].form-control.form-control-sm:not([size]):not([multiple]) {
        width: 180px;
    }
}
/*---- END ESTILO DE INPUTS ----*/
table div.input-group input,table div.input-group select, table div.input-group textarea{
    margin-left: 3px;
    border-radius: .25em 0em 0em .25em;
}
div.input-group span.form-control-sm,div.input-group a.form-control-sm,div.input-group span.form-control-xs,div.input-group a.form-control-xs{
    font-size: .75em;
    padding-left: .35rem;
    padding-right: .35rem;
    background: white;
}
div.input-group span.form-control-sm:hover,div.input-group a.form-control-sm:hover,div.input-group span.form-control-xs:hover,div.input-group a.form-control-xs:hover{
    background: rgba(228, 228, 228, 0.32);
}
div.input-group span.form-control-sm.unid{
    font-size: .75em;
    cursor: default;
}
div.input-group span.form-control-sm.help:hover,div.input-group span.form-control-sm.help i:hover{
    background-color: #efefef;
}
table div.input-group div.form-control{
    margin-left: 2px;
    border-radius: .25em 0em 0em .25em;
}
textarea.form-control{
    padding: .2rem .4rem;
    float: left;
}
.btn.btn-default{
    border: 1px solid #d3d3d3;
}
.btn-inverse-default {
    border-color: rgba(117, 117, 117, .65);
    color: rgba(117, 117, 117, 0.95);
}
li.treeview.active ul.treeview-menu li:last-child{
    border-bottom: 1px solid rgba(27,139,249,.5);
}
/*para menu lateral*/
li.nav-level{
    width: 100%;
    background:#ffffff;
    border-bottom: 1px solid #d2d2d2;
}
    li.dropdown a.icon-circle{
        margin-top: -2px;
    }

    /*menu top*/

    /*Mensaje*/
    div#msgs{
        overflow:auto;
    }
/*control de botones*/
.g-control-accordion{
    float: right;
}
.g-control-accordion button{
    background: rgba(0,0,0,0);
    border:0px solid rgba(0,0,0,0);
    padding-left: .35rem;
    padding-right: .35rem;
}
td .g-control-accordion{
    width: 100%;
    text-align: center;
}
td .g-control-accordion button{
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.g-control-accordion button:hover{
   color:#014c8c;
}
#list_product .card-title.accordion-title>.g-control-accordion{
    margin: 13px 9px;
}
div.ui-state-highlight{
    background: rgba(251, 251, 251, .9);
    min-height: 84px;
}
div.accordion-panel:hover{
    background:rgba(251, 251, 251, .9);
}
div.accordion-panel.g-accordion-panel:hover{
    background:rgba(251, 251, 251, .9);
}
div.accordion-panel.g-accordion-panel .accordion-msg{
    padding: 8px 15px;
}
/*--- my carrusel ---*/
/*modificando bootstrap*/
.mark, mark{
    padding: 0rem;
}
input[type='color']{
    padding: .1rem !important;
}
div.list-group-item{
    padding: .5rem .75rem .5rem .75rem !important;
}
div#content_4 div.list-group-item div.col-xs-12{
    padding: 0rem;
}
#dialog_6 .modal-content{
    background: rgba(38,38,38,.1);
}
#dialog_6 .modal-header.sub-modal-header{
    border: 0px;
    padding: 5px;
}
#dialog_6 .modal-header.modal-header-visor{
    position: absolute;
    width: 90%;
    margin-left: 10%;
    z-index: 1;
    border: 0px;
}
#dialog_6 #title-img{
    color: #c7c7c7;
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}
#dialog_6 #desc-img{
    font-size: 12px;
    color: #999999;
}
#dialog_6 .modal-header button{
    color: #c1c1c1;
}
.carousel-control{
    width: 50%;
}
.carousel-control.right{
    text-align: right;
    background-image: none;
}
.carousel-control.right span,.carousel-control.left span{
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
    -webkit-text-fill-color: rgba(38,38,38,.1);
    -webkit-text-stroke: 1px rgba(38,38,38,.1);;

}
.carousel-control.right span{
    right: 50px;
}
.carousel-control.left span{
    left: 50px;
}
.carousel-control.left{
    text-align: left;
    background-image: none;
}
.label{
    margin-right: 0px; 
}
.label.g-label{
    padding: 1px 8px;font-size: 65%;
}
.label-inverse-warning.label-xs,.label-inverse-success.label-xs,.label-inverse-info.label-xs{
    padding: 1px 4px;
    font-size: .6rem;
    font-weight: 500;
}
#modal_11 .nav.nav-tabs{
    margin-bottom: 0px;
}
#modal_11 #content_11>.list-group>.list-group-item:first-child{
    border-top: 0px;
}
#modal_11 #content_11>.list-group>.list-group-item:first-child{
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
}
#modal_11 button.close{
    position: relative;
    z-index: 1;
}
.form-control.disabled{
    cursor: not-allowed;
    background-color: #eceeef;
    opacity: 1;
}
div.accordion-panel label.badge{
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 11.5px;
    padding: 3px 7px;
}
div.accordion-panel a.accordion-msg.scale_active.collapsed label.badge{
    display: inline;
}
div.accordion-panel a.accordion-msg.scale_active label.badge{
    display: none;
}
.col-form-label{
    font-weight: 600;
}
.btn-group a{
    display: none;
}
.g-dropdown-menu-right{
    position: relative;
    display: flex;
    border: 0px;
    border-radius: 0rem;
    z-index: 0;
    background-color: rgba(255,255,255,0);
    min-width: 33px;
    padding: 0px;
}
.g-dropdown-menu-right span.dropdown-item-text{
    display: none;
}
.g-dropdown-menu-right button.dropdown-item{
    width: 33px;
    display: inline;
    padding: 4px 0px;
    text-align: center;
    font-size: .9rem;
}
.navbar{
    box-shadow: 0 2px 2px 0 rgba(244, 247, 251, .1), 0 3px 1px -2px rgba(244, 247, 251, .3), 0 1px 5px 0 rgba(244, 247, 251, .3);
}
@media (max-width: 991px){
    .btn-group a{
        display: block;
    }
    .btn-group a i{
        padding: 2px 6px !important;
    }
    .visible-md{
        display: inline-block !important;
    }
    .g-dropdown-menu-right{
        right: 10px;
        left: auto;
        top: -7px;
        position: absolute;
        display: none;
        z-index: 1000;
        border: solid 1px rgba(0,0,0,0.175);
        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        padding: 0px;
        background-color: #fff;
        min-width: 170px;
    }
    .g-dropdown-menu-right button.dropdown-item{
        padding: 8px 12px;
        width: 100%;
        display: block;
        text-align: inherit;
    }
    .g-dropdown-menu-right button.dropdown-item i{
        float: left;
        margin-right: 5px;
        margin-top: 3px;
    }
    .g-dropdown-menu-right button.dropdown-item span.dropdown-item-text{
        display: block;
        float: left;
    }
    table.table.table-bordered tr td, table.table.table-bordered th{
        border: none;
        border-bottom: 1px solid #ddd;
    }
}


/*ESTILO DE LA TABLA CON DIVS*/
.tabla{
    display: table;
    width: 100%;
    border-collapse: separate;
    border-left: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(0,0,0,.2);
}
.tabla div.t_titulo{
    display: table-caption;  
    text-align: center;  
    font-weight: bold;  
    font-size: larger;  
}
.tabla .tr{
     display: table-row; 
}  
.tabla .td{
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    position: relative;
    border-right: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.tabla .th{
    font-weight: bold;  
    text-align: center;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
.g-container{
    width: 100%;
    padding: 0px 10px;
}
@media (min-width: 544px) and (max-width: 767px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 991px) {
  .visible-lg-block {
    display: block !important;
  }
}
div.form-control-sm.textarea{
    height: 42.38px;
    overflow: auto;
}
div.form-control-sm.textarea.disabled{
    background-color: #eceeef;
}
div.desc-big-img{
    float: left;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: justify;
    padding: 2px 10px;
    background: rgba(0,0,0,.70);
    color: #c7c7c7;
}
div.port_big_img{
    position: relative;
}
label.g-label-print{
    cursor:pointer;
    margin-bottom: 0em;
}
table div.checkbox-fade.fade-in-primary{
    display: block;
    width: 100%;
    margin-right: 0px;
}
table div.checkbox-fade label{
    align-items: flex-start;
}
div.pagina{
    margin-bottom: 10px;
}
div.rangos {
  width: 226px;
  display: inline-block;
  padding: 0px;
  overflow-x: auto;
}
input.rango { display: none; }
label.rango {
  float: right;
  padding: 3px;
  font-size: 1.1rem;
  color: #d2d2d2;
  margin-bottom: 0px;
}
input.rango:checked ~ label.rango:before {
  color: #1b8bf9;
  transition: all .3s;
}
label.rango:hover{cursor: pointer;}
.navbar ul li .badge.badge-info{
    background-color: rgba(247, 247, 247, .4);
}
.accordion-progress{
    width: 200px;
}
.panels-wells .panel-primary {
    border-color: #2196F3;
}
.accordion-panel ul.nav-tabs>li.nav-item>a.nav-link,tr.inactivo{
    opacity: .4;
}
.accordion-panel ul.nav-tabs>li.nav-item>a.nav-link:hover{
    opacity: 1;
}
.accordion-panel ul.nav-tabs>li.nav-item>a.nav-link.active{
    opacity: 1;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container div.flex-element {  
  margin: 5px;
  text-align: center;
  line-height: 75px;
}
.flex-container div.flex-150{
    width: 150px;
}
.flex-container div.flex-180{
    width: 180px;
}
.flex-container div.flex-200{
    width: 200px;
} 
td.cards img.card-img-top{
    vertical-align: top;
    border-bottom-left-radius: 4px;
}
td.cards div.card-padding-0 div.card-block,td.cards div.card-padding-0 div.card-block,td.cards{
    padding: 0px;
}
td.cards div.card-group{
    line-height: normal;
}
.card-30{ width: 30px; }
.card-60{ width: 60px; }
.card-56{ width: 56px; }
.card-middle{ vertical-align: middle !important; }
.card-group .card.card-hover:hover{
    background: rgba(228, 228, 228, 0.5);
    color: #0275d8;
}
input#up_porcentaje{
    opacity: 0;
}
input#up_porcentaje:hover{
    opacity: 1;                                                                                                                                 
}
/*--- Button Fab ---*/
.btns-fab-wrapper{
  right:0;
  bottom:75px;
  position:fixed;
  display:none;
  -webkit-transition: opacity 0.3s ease-in;
       -moz-transition: opacity 0.3s ease-in;
        -ms-transition: opacity 0.3s ease-in;
         -o-transition: opacity 0.3s ease-in;
            transition: opacity 0.3s ease-in;
  pointer-events:all;
}
.btns-fab-wrapper.show{
  display:block;
  opacity: 1;
}
.btns-fab-wrapper button{
  width:40px;
  height:40px;
  border-radius:100%;
  background:#e74c3c;
  margin-bottom:12px;
  margin-right:26px;
  padding:0;
  border:none;
  outline:none;
  color:#ffffff;
  font-size: 19px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:all ease-in .4s;  
  pointer-events:all;
  cursor: pointer;
}
.btns-fab-wrapper .horizontal-fab:nth-child(1) .sub_fab_btn{
   -webkit-transition-duration: 190ms;
          transition-duration: 190ms;
  -webkit-transform: translate3d(0, -30px, 0);
          transform: translate3d(0, -30px, 0);
}
.btns-fab-wrapper .horizontal-fab:nth-child(2) .sub_fab_btn{
   -webkit-transition-duration: 490ms;
          transition-duration: 490ms;
  -webkit-transform: translate3d(0, -20px, 0);
          transform: translate3d(0, -20px, 0);
}
.btns-fab-wrapper .horizontal-fab:nth-child(3) .sub_fab_btn{
  -webkit-transition-duration: 790ms;
          transition-duration: 790ms;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
}
#horizontal-fab-button .btns-fab-wrapper .sub_fab_btn{
   -webkit-transition-duration: 190ms;
          transition-duration: 190ms;
  -webkit-transform: translate3d(0, -30px, 0);
          transform: translate3d(0, -30px, 0);
}
.btns-fab-wrapper button:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
}
button.gfab-main-btn{
  width:60px;
  height:60px;
  border-radius:100%;
  right:16px;
  bottom:16px;
  position:fixed;
  margin-right:0;
  margin-bottom:0;
  padding:0;
  border:none;
  outline:none;
  color:#ffffff;
  font-size:24px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  pointer-events:all;
  float: right;
}
button:hover.gfab-main-btn{
  box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
}
.gfab-main-btn span{
  transition:.5s;
  font-size: 1.2rem;
}
/*--- End Button Fab ---*/
span.label-tag-mobile{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 851;
    border-radius: 0px 4px 0px 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: .7rem;
    font-weight: 500;
    opacity: .9;
}